<div class="container">
  <div class="logo">
    <img src="./assets/img/logo.png" alt="logo" />
  </div>

  <div class="wrapper">
    <div class="auth_box">
      <div class="welcome">
        <h2>Welcome back</h2>
        <img src="./assets/img/wave.png" alt="welcome back" />
      </div>

      <div class="form-container">
        <form action="">
          <div class="form_inputs">
            <div class="input">
              <label for="address">Email address</label>
              <input
                type="email"
                class="email-input"
                placeholder="Enter your Email Address"
              />
            </div>

            <div class="input">
              <label for="address">password</label>
              <div class="password">
                <input
                  type="password"
                  placeholder="Enter your password"
                  type="{{ showPassword ? 'text' : 'password' }}"
                  required
                  class="password-input"
                  formControlName="password"
                />

                <span class="eye-span" (click)="togglePasswordVisibility()">
                  <svg
                    *ngIf="showPassword; else closedEye"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M21.544 11.045C21.848 11.4713 22 11.6845 22 12C22 12.3155 21.848 12.5287 21.544 12.955C20.1779 14.8706 16.6892 19 12 19C7.31078 19 3.8221 14.8706 2.45604 12.955C2.15201 12.5287 2 12.3155 2 12C2 11.6845 2.15201 11.4713 2.45604 11.045C3.8221 9.12944 7.31078 5 12 5C16.6892 5 20.1779 9.12944 21.544 11.045Z"
                      stroke="#141B34"
                      stroke-width="1.5"
                    />
                    <path
                      d="M15 12C15 10.3431 13.6569 9 12 9C10.3431 9 9 10.3431 9 12C9 13.6569 10.3431 15 12 15C13.6569 15 15 13.6569 15 12Z"
                      stroke="#141B34"
                      stroke-width="1.5"
                    />
                  </svg>

                  <ng-template #closedEye>
                    <svg
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M22 8C22 8 18 14 12 14C6 14 2 8 2 8"
                        stroke="#141B34"
                        stroke-width="1.5"
                        stroke-linecap="round"
                      />
                      <path
                        d="M15 13.5L16.5 16"
                        stroke="#141B34"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                      <path
                        d="M20 11L22 13"
                        stroke="#141B34"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                      <path
                        d="M2 13L4 11"
                        stroke="#141B34"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                      <path
                        d="M9 13.5L7.5 16"
                        stroke="#141B34"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </ng-template>
                </span>
              </div>
            </div>
          </div>
          <button>Log in</button>
        </form>
      </div>
      <div id="links">
        <p class="forgot_password">
          Forgot password? <span><a href="">Reset it here</a></span>
        </p>
        <p class="create_link">
          Are you new to SwiftCart?
          <span><a href="/auth/register">Create an account</a></span>
        </p>
      </div>
    </div>
  </div>
</div>

<!-- 
          <form
            class="form"
            [formGroup]="loginForm"
            (ngSubmit)="signinWithEmail()"
          >
            <div class="input-group">
              <label class="user-label">Email Address</label>
              <input
                type="email"
                required
                class="input"
                formControlName="email"
                [ngClass]="{ 'is-invalid': loginEmailMessage }"
              />
              <span class="error-span">
                <span>
                  {{ loginEmailMessage }}
                </span>
              </span>
            </div>
  
            <div class="input-group">
              <label class="user-label">Password</label>
              <div class="input-box">
                <div
                  class="password"
                  [ngClass]="{ 'is-invalid': loginPasswordMessage }"
                >
                  <input
                    style="padding-right: 8px; border: none"
                    type="{{ showPassword ? 'text' : 'password' }}"
                    required
                    class="input"
                    formControlName="password"
                  />
                  <span class="eye-span" (click)="togglePasswordVisibility()">
                    <img
                      *ngIf="showPassword; else closedEye"
                      class="eye"
                      src="/assets/img/icons/eye.svg"
                    />
                    <ng-template #closedEye>
                      <img src="/assets/img/icons/eye-closed.svg" class="eye" />
                    </ng-template>
                  </span>
                </div>
  
                <span class="error-span">
                  <span>
                    {{ loginPasswordMessage }}
                  </span>
                </span>
              </div>
  
              <div class="flex-row">
                <div class="row">
                  <input type="checkbox" formControlName="rememberMe" />
                  <label>Remember me </label>
                </div>
                <span class="span">Forgot password?</span>
              </div>
            </div>
  
            <button
              class="form-btn"
              [title]="
                loginForm.valid
                  ? 'Login to your account'
                  : 'Disabled until form data is valid'
              "
              [disabled]="!loginForm.valid"
            >
              Log in
            </button>
          </form>
        </div>
  
        <p class="sign-up-label">
          Don't have an account?
          <span (click)="authToggleFn()" class="sign-up-link">Sign up</span>
        </p>
      </div>
  
      <div class="form-container" *ngIf="authToggle" [ngClass]="'slideAndFadeIn'">
        <div class="top">
          <p class="title">Create an Account</p>
          <p class="p">to continue to DriveFinder.</p>
        </div>
  
        <div class="auth__container">
          <div class="buttons-container">
            <div class="google-login-button" (click)="loginWithGoogle()">
              <img src="./assets/img/icons/google.svg" alt="google icon" />
  
              <span>Continue with Google</span>
            </div>
          </div>
  
          <div class="separator-container">
            <div class="separator-line"></div>
            <div class="separator-text">or</div>
            <div class="separator-line"></div>
          </div>
  
          <form
            class="form"
            [formGroup]="signupForm"
            (ngSubmit)="registerWithEmail()"
          >
            <div class="input-group">
              <label class="user-label">Email Address</label>
              <input
                type="email"
                required
                class="input"
                formControlName="email"
                [ngClass]="{ 'is-invalid': signupEmailMessage }"
              />
              <span class="error-span">
                <span>
                  {{ signupEmailMessage }}
                </span>
              </span>
            </div>
  
            <div class="input-group">
              <label class="user-label">Password</label>
              <div class="input-box">
                <div
                  class="password"
                  [ngClass]="{
                    'is-invalid': signupPasswordMessage
                  }"
                >
                  <input
                    style="padding-right: 8px; border: none"
                    type="{{ showPassword ? 'text' : 'password' }}"
                    required
                    class="input"
                    formControlName="password"
                  />
  
                  <span class="eye-span" (click)="togglePasswordVisibility()">
                    <img
                      *ngIf="showPassword; else closedEye"
                      class="eye"
                      src="/assets/img/icons/eye.svg"
                    />
                    <ng-template #closedEye>
                      <img src="/assets/img/icons/eye-closed.svg" class="eye" />
                    </ng-template>
                  </span>
                </div>
  
                <span class="error-span">
                  <span>
                    {{ signupPasswordMessage }}
                  </span>
                </span>
              </div>
            </div>
  
            <button
              class="form-btn"
              [title]="
                signupForm.valid
                  ? 'Create account'
                  : 'Disabled until form data is valid'
              "
              [disabled]="!signupForm.valid"
            >
              Create Account
            </button>
          </form>
        </div>
  
        <p class="sign-up-label">
          Already have an account?
          <span (click)="authToggleFn()" class="sign-up-link">Sign in</span>
        </p>
      </div>
    </div>
  </div>
  
  At least 8 characters long (and less than 100 characters)
  Contains at least 1 number
  Contains at least 1 lowercase letter
  Contains at least 1 uppercase letter
  Contains a special character (e.g. @ !) -->
