.container {
  width: 70vw;
  padding: 0 2rem;
}

.logo img {
  width: 7rem;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth_box {
  width: 33rem;
}

.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome h2 {
  font-size: 2.2rem;
}

.welcome img {
  width: 3rem;
}

.form-container {
  padding: 2rem 0;
}

.form_inputs {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  padding-bottom: 2rem;
}

form button {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  border: none;
  font-size: 1.2rem;
  background: var(--black);
  color: var(--white);
  transition: all 0.4s ease;
}

form button:hover {
  background-color: #333;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.input label {
  font-size: 18px;
  font-weight: 600;
  color: var(--dark-grey);
  text-transform: capitalize;
}

.email-input {
  height: 46px;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  padding: 0px 11px;
  font-size: 17px;
  text-transform: capitalize;
  transition: all 0.4s ease-in-out;
  outline: none;
}

.password {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1rem;
  border-radius: 0.2rem;
  border: 1px solid var(--border-color);
  transition: all 0.4s;
}

.password-input {
  width: 100%;
  outline: 0 !important;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  height: 46px;
  border-radius: 5px;
  padding: 0px 11px;
  font-size: 17px;
  text-transform: capitalize;
  transition: all 0.4s ease-in-out;
}

.password:focus-within,
.email-input:focus-visible,
.email-input:focus {
  border: 1.5px solid var(--black);
}

.password:hover,
.email-input:hover {
  border: 1.5px solid var(--black);
  cursor: pointer;
}

#links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  gap: 1rem;
  font-size: 17px;
}

a {
  text-decoration: underline;
  transition: all 0.4s ease;
  color: inherit;
}

a:hover {
  color: var(--green-color);
  cursor: alias;
}

::placeholder {
  color: #a3a5a8;
  font-size: 1rem;
  font-family: "Lato";
}

svg {
  padding-top: 5px;
  cursor: pointer;
}