<div class="container">
  <div class="logo">
    <img src="./assets/img/logo.png" alt="logo" />
  </div>

  <div class="wrapper">
    <div class="auth_box">
      <div class="welcome">
        <h2>Start Shopping Now</h2>
        <img src="./assets/img/shopping.png" alt="Start Shopping Now" />
      </div>

      <div class="form-container">
        <form
          action=""
          [formGroup]="registerForm"
          (ngSubmit)="registerWithEmail()"
        >
          <div class="form_inputs">
            <div class="input">
              <label for="address">Email address</label>
              <input
                type="email"
                class="email-input"
                placeholder="Enter your Email Address"
                formControlName="email"
                [ngClass]="{ 'error-border': EmailMessage }"
              />
            </div>

            <div class="input">
              <label for="address">Nickname</label>
              <input
                type="text"
                maxlength="10"
                class="email-input"
                placeholder="What should we call you?"
                formControlName="nickName"
                [ngClass]="{ 'error-border': NicknameMessage }"
              />
            </div>

            <div class="input">
              <label for="address">password</label>
              <div
                class="password"
                [ngClass]="{ 'error-border': PasswordMessage }"
              >
                <input
                  type="password"
                  placeholder="Enter your password"
                  type="{{ showPassword ? 'text' : 'password' }}"
                  required
                  class="password-input"
                  formControlName="password"
                />

                <span class="eye-span" (click)="togglePasswordVisibility()">
                  <svg
                    *ngIf="showPassword; else closedEye"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M21.544 11.045C21.848 11.4713 22 11.6845 22 12C22 12.3155 21.848 12.5287 21.544 12.955C20.1779 14.8706 16.6892 19 12 19C7.31078 19 3.8221 14.8706 2.45604 12.955C2.15201 12.5287 2 12.3155 2 12C2 11.6845 2.15201 11.4713 2.45604 11.045C3.8221 9.12944 7.31078 5 12 5C16.6892 5 20.1779 9.12944 21.544 11.045Z"
                      stroke="#141B34"
                      stroke-width="1.5"
                    />
                    <path
                      d="M15 12C15 10.3431 13.6569 9 12 9C10.3431 9 9 10.3431 9 12C9 13.6569 10.3431 15 12 15C13.6569 15 15 13.6569 15 12Z"
                      stroke="#141B34"
                      stroke-width="1.5"
                    />
                  </svg>

                  <ng-template #closedEye>
                    <svg
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M22 8C22 8 18 14 12 14C6 14 2 8 2 8"
                        stroke="#141B34"
                        stroke-width="1.5"
                        stroke-linecap="round"
                      />
                      <path
                        d="M15 13.5L16.5 16"
                        stroke="#141B34"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                      <path
                        d="M20 11L22 13"
                        stroke="#141B34"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                      <path
                        d="M2 13L4 11"
                        stroke="#141B34"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                      <path
                        d="M9 13.5L7.5 16"
                        stroke="#141B34"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </ng-template>
                </span>
              </div>
            </div>
          </div>
          <button
            [title]="
              registerForm.valid
                ? 'Login to your account'
                : 'Disabled until form data is valid'
            "
            [disabled]="!registerForm.valid"
            (click)="registerWithEmail()"
          >
            Register
          </button>
        </form>
      </div>

      <span *ngIf="hasError" class="error-span">
        <span *ngIf="NicknameMessage" class="error-message">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle
              cx="12"
              cy="12"
              r="10"
              stroke="#141B34"
              stroke-width="1.5"
            />
            <path
              d="M11.992 15H12.001"
              stroke="#141B34"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M12 12L12 8"
              stroke="#141B34"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          {{ NicknameMessage }}
        </span>

        <span class="error-message" *ngIf="EmailMessage">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle
              cx="12"
              cy="12"
              r="10"
              stroke="#141B34"
              stroke-width="1.5"
            />
            <path
              d="M11.992 15H12.001"
              stroke="#141B34"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M12 12L12 8"
              stroke="#141B34"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          {{ EmailMessage }}
        </span>

        <span *ngIf="PasswordMessage" class="error-message">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle
              cx="12"
              cy="12"
              r="10"
              stroke="#141B34"
              stroke-width="1.5"
            />
            <path
              d="M11.992 15H12.001"
              stroke="#141B34"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M12 12L12 8"
              stroke="#141B34"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          {{ PasswordMessage }}
        </span>
      </span>

      <div id="links">
        <p class="create_link">
          Already have an account?
          <span><a href="/auth/login">Login to SwiftCart</a></span>
        </p>
      </div>
    </div>
  </div>
</div>
