.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 3rem;
  border-bottom: 1px solid var(--border-color);
  gap: 10px;
  width: 92vw;
}

.cart {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.border {
  color: white;
  cursor: pointer;
  position: relative;
  border: 1px solid var(--border-color);
  padding: 10px;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.border span {
  align-items: center;
  background: #ff3b2d;
  border-radius: 50%;
  display: flex;
  height: 18px;
  justify-content: center;
  left: 30px;
  padding: 2px;
  position: absolute;
  text-align: center;
  top: 0;
  transition: all 0.2s ease-in;
  width: 18px;
  color: var(--white) !important;
  font-size: 12px !important;
  font-weight: 500;
}

svg {
  height: 32px;
  width: 32px;
}


@media screen and (max-width: 922px) {
  .header{
    padding: 8px 1rem;
    width: 92vw;
  }

  .border {
    padding: 7px;
  }

  svg {
  height: 28px;
  width: 28px;
}

}
