.container {
  padding: 2rem 0;
}

svg {
  width: 22px;
  height: 22px;
  cursor: pointer;
}

h2 {
  margin-top: 0;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper,
.box {
  gap: 2rem;
  padding: 1.2rem 0;
  display: flex;
  align-items: center;
}

.imgs {
  display: flex;
  flex-direction: column;
}

.main_img {
  /* width: 24rem; */
  width: 38vw;
  height: 438px;
  padding-bottom: 1rem;
}

.main_img img {
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

.img_sub {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 6px;
}

.sub_img {
  width: 8rem;
  height: 9rem;
}

.sub_img img {
  width: 100%;
  height: 8rem;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 6px;

  transition: all 0.4s ease;
}

.sub_img img:hover {
  border: 2px solid #00b900;
}

.active_img{
      border: 2px solid var(--black) !important;
}

.detail {
  align-self: flex-start;
}

.category_name {
  text-transform: capitalize;
  font-weight: 600;
  color: var(--dark-grey);
}

.product_name {
  text-transform: capitalize;
  padding-top: 5px;
}

.starviews {
  display: flex;
  gap: 1.2rem;
  padding: 8px 0px;
}

.prices {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  gap: 5rem;
}

.slashed_price {
  text-decoration: line-through;
  font-weight: 500;
  font-size: 16px;
  color: #a70d0d;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.button {
  width: 100%;
  height: 40px;
  font-size: 16px;
  border-radius: 5px;
  text-transform: capitalize;
}

.checkout {
  background: #000;
  color: #fff;
  border: 1px solid transparent;
}

.cart {
  border: 1px solid var(--border-color);
  background: transparent;
  color: var(--grey);
}

.colors {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
}

.colors button {
  border-radius: 5px;
  padding: 1rem 2rem;
  background: transparent;
  height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  border: 1px solid;
  transition: all 0.4s ease;
}

.quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px;
}

.border {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border: 2px solid var(--border-color);
  border-radius: 20px;
  width: max-content;
  padding: 4px;
}

.border svg path {
  stroke: black;
}

.border svg path {
  /* stroke: var(--border-color); */
  stroke: black;
}

.color-active,
.colors button:hover {
  border: 1px solid #00b900;
  color: #00b900;
  background: #6bcc6b1a;
}

article {
  border-radius: 6px;
  padding: 1rem;
  border: 1px solid var(--border-color);
  height: 7rem;
  width: 253px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.item {
  display: flex;
  justify-content: space-between;
}

.review_content h2 {
  margin: 0;
  padding-top: 12px;
  font-size: 18px;
  padding-bottom: 8px;
  text-transform: capitalize;
}

.description_tabs {
  padding-top: 1.2rem;
}

.headings {
  display: flex;
  gap: 7rem;
  border-bottom: 1px solid var(--border-color);
}

.headings p {
  padding-bottom: 12px;
  border-bottom: 2px solid transparent;
  transition: all 0.4s ease;
  color: var(--dark-grey);
  cursor: pointer;
  display: block;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1em;
  text-align: center;
}

.headings p:hover {
  border-bottom: 2px solid black;
}

.active {
  border-bottom: 2px solid black !important;
}

.tab {
  padding-top: 1rem;
}

.no_review {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}


.no_review p {
  font-size: 20px;
  font-weight: 400
}
.no_review img {
  width: 5rem;
}


@media screen and (max-width: 480px) {
.wrapper {
  flex-wrap: wrap;
}

.container {
  padding: 1rem 0;
  width: 96vw;
}

.main_img {
  /*width: auto;
  height: 35vh;*/
  width: 72%;
    height: 27vh;
}

.sub_img {
  /*width: 90px;
  height: 120px;*/
  width: 8rem;
    height: auto;
}

.imgs {
/*  flex-direction: row;*/
    gap: 1rem;
}

.img_sub {
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}

.sub_img img:hover {
  border: 2px solid transparent;
}



.button {
  width: 90%;
}


.buttons {
  padding-bottom: 1rem;
}

.colors {
  flex-wrap: wrap;
  justify-content: left;
}

.border {
  border-radius: 50px;
  padding: 12px;

}

.border span {
  font-size: 20px;

}

svg {
  width: 29px;
  height: 29px;
}

.box {
  gap: 12px;
  padding: 1.2rem 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 15px;
}

h2 {
  padding-left: 15px;
}

.products {
  padding: 0;
}
}