<div class="container">
  <back-btn></back-btn>

  <main>
    <div class="wrapper flex">
      <div class="imgs flex">
        <div class="main_img">
          <img src="/assets/img/main.jpeg" alt="" />
        </div>
        <div class="img_sub">
          <div class="sub_img">
            <img src="/assets/img/001.jpeg" alt="" />
          </div>
          <div class="sub_img">
            <img src="/assets/img/002.jpeg" alt="" />
          </div>
          <div class="sub_img">
            <img src="/assets/img/003.jpeg" alt="" />
          </div>
          <div class="sub_img">
            <img src="/assets/img/004.jpeg" alt="" />
          </div>
          <div class="sub_img">
            <img src="/assets/img/005.jpeg" alt="" />
          </div>
        </div>
      </div>

      <div class="detail">
        <p class="category_name">men's shirts</p>
        <h2 class="product_name">PS basics mens reece</h2>

        <div class="starviews">
          <star></star>
          <p class="reviews">(124 reviews)</p>
        </div>

        <div class="prices">
          <h3 class="slashed_price">
            {{ 27.36 | currency }}
          </h3>
          <h3 class="price">
            {{ 37.36 | currency }}
          </h3>
        </div>

        <div>
          <p class="select_p category_name">Select colors</p>
          <div class="colors">
            <button>red</button>
            <button>red</button>
            <button>red</button>
          </div>
        </div>

        <div class="quantity">
          <div class="border">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M16 12L8 12"
                stroke="#141B34"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22C17.5228 22 22 17.5228 22 12Z"
                stroke="#141B34"
                stroke-width="1.5"
              />
            </svg>

            <span>1</span>

            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M12 8V16M16 12L8 12"
                stroke="#141B34"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22C17.5228 22 22 17.5228 22 12Z"
                stroke="#141B34"
                stroke-width="1.5"
              />
            </svg>
          </div>
        </div>

        <div class="buttons">
          <button class="button checkout">Checkout Now</button>
          <button class="button cart">add to cart</button>
        </div>

        <div class="tabs">
          <div class="tab-2">
            <label for="tab2-1">Description</label>
            <input id="tab2-1" name="tabs-two" type="radio" checked="checked" />
            <div style="width: 22rem; text-align: justify">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Maecenas consequat id velit quis vestibulum. Nam id orci eu urna
                mollis porttitor. Nunc nisi ante, gravida at velit eu, aliquet
                sodales dui. Sed laoreet condimentum nisi a egestas.
              </p>
            </div>
          </div>
          <div class="tab-2">
            <label for="tab2-2">Model</label>
            <input id="tab2-2" name="tabs-two" type="radio" />
            <div
              style="
                width: 21rem;
                text-align: justify;
                margin: 0;
                right: 4.1rem;
                position: absolute;
              "
            >
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Maecenas consequat id velit quis vestibulum. Nam id orci eu urna
                mollis porttitor. Nunc nisi ante, gravida at velit eu, aliquet
                sodales dui. Sed laoreet condimentum nisi a egestas.
              </p>
            </div>
          </div>
          <div class="tab-2">
            <label for="tab2-3">Material</label>
            <input id="tab2-3" name="tabs-two" type="radio" />
            <div
              style="
                width: 22rem;
                text-align: justify;
                margin: 0;
                right: 3.5rem;
                position: absolute;
              "
            >
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Maecenas consequat id velit quis vestibulum. Nam id orci eu urna
                mollis porttitor. Nunc nisi ante, gravida at velit eu, aliquet
                sodales dui. Sed laoreet condimentum nisi a egestas.
              </p>
            </div>
          </div>
        </div>

        <!-- <div class="specifications">
            <div class="nav">
              <p class="spec">Description</p>
              <p class="spec">Model</p>
              <p class="spec">Material</p>
              <p class="spec">Shipping</p>
            </div>
            <div class="spec_content">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
              quam dicta veniam reprehenderit nisi numquam facere molestias id
              tempore autem impedit velit inventore quas nam temporibus culpa,
              dolores et rerum?
            </div>
          </div> -->
      </div>
    </div>
  </main>
</div>
