.change_confirm {
  background: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
  padding: 20px;
  position: relative;
}

.flex-cancel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close_svg {
  position: absolute;
  right: 1rem;
  top: 15px;
  cursor: pointer;
  background-color: var(--border-color);
  border-radius: 50%;
  padding: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: none;
}

.flex-cancel svg {
  width: 36px;
  height: 36px;
}

.confirm_buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.confirm_content {
  font-size: 19px;
  width: 413px;
  font-weight: 500;
  color: var(--black);
  padding-bottom: 13px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form button {
  width: 85%;
  padding: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: none;
  font-size: 17px;
  background: var(--black);
  color: var(--white);
  transition: all 0.4s ease;
  text-transform: capitalize;
}

form button:hover {
  background-color: #333;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.input label {
  font-size: 15px;
  font-weight: 600;
  color: var(--black);
  text-transform: capitalize;
}

.password {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1rem;
  border-radius: 0.2rem;
  border: 1px solid var(--border-color);
  transition: all 0.4s;
}

.password-input {
  width: 100%;
  outline: 0 !important;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  height: 42px;
  border-radius: 5px;
  padding: 0px 11px;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.password:focus-within {
  border: 1.5px solid var(--black);
}

.password:hover {
  border: 1.5px solid var(--black);
  cursor: pointer;
}

input::placeholder {
  font-size: 14px;
}
