<article class="change_confirm">
  <div class="flex-cancel">
    <h2>Reset Password</h2>
    <div class="close_svg" (click)="close()">
      <svg
        width="25"
        height="24"
        viewBox="0 0 25 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M15.7494 15L9.75 9M9.75064 15L15.75 9"
          stroke="#141B34"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M22.75 12C22.75 6.47715 18.2728 2 12.75 2C7.22715 2 2.75 6.47715 2.75 12C2.75 17.5228 7.22715 22 12.75 22C18.2728 22 22.75 17.5228 22.75 12Z"
          stroke="#141B34"
          stroke-width="1.5"
        />
      </svg>
    </div>
  </div>
  <div class="confirm_content">
    <form action="" [formGroup]="changeForm">
      <div class="input">
        <label for="address">Enter old password</label>
        <div class="password">
          <input
            placeholder="Enter old password"
            type="{{ showPassword ? 'text' : 'password' }}"
            required
            class="password-input"
            formControlName="oldPassword"
          />

          <span class="eye-span" (click)="togglePasswordVisibility()">
            <svg
              *ngIf="showPassword; else closedEye"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M21.544 11.045C21.848 11.4713 22 11.6845 22 12C22 12.3155 21.848 12.5287 21.544 12.955C20.1779 14.8706 16.6892 19 12 19C7.31078 19 3.8221 14.8706 2.45604 12.955C2.15201 12.5287 2 12.3155 2 12C2 11.6845 2.15201 11.4713 2.45604 11.045C3.8221 9.12944 7.31078 5 12 5C16.6892 5 20.1779 9.12944 21.544 11.045Z"
                stroke="#141B34"
                stroke-width="1.5"
              />
              <path
                d="M15 12C15 10.3431 13.6569 9 12 9C10.3431 9 9 10.3431 9 12C9 13.6569 10.3431 15 12 15C13.6569 15 15 13.6569 15 12Z"
                stroke="#141B34"
                stroke-width="1.5"
              />
            </svg>

            <ng-template #closedEye>
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M22 8C22 8 18 14 12 14C6 14 2 8 2 8"
                  stroke="#141B34"
                  stroke-width="1.5"
                  stroke-linecap="round"
                />
                <path
                  d="M15 13.5L16.5 16"
                  stroke="#141B34"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M20 11L22 13"
                  stroke="#141B34"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M2 13L4 11"
                  stroke="#141B34"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M9 13.5L7.5 16"
                  stroke="#141B34"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </ng-template>
          </span>
        </div>
      </div>

      <div class="input">
        <label for="address">Enter New Password</label>
        <div class="password">
          <input
            placeholder="Enter New Password"
            type="{{ showPassword ? 'text' : 'password' }}"
            required
            class="password-input"
            formControlName="newPassword"
          />

          <span class="eye-span" (click)="togglePasswordVisibility()">
            <svg
              *ngIf="showPassword; else closedEye"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M21.544 11.045C21.848 11.4713 22 11.6845 22 12C22 12.3155 21.848 12.5287 21.544 12.955C20.1779 14.8706 16.6892 19 12 19C7.31078 19 3.8221 14.8706 2.45604 12.955C2.15201 12.5287 2 12.3155 2 12C2 11.6845 2.15201 11.4713 2.45604 11.045C3.8221 9.12944 7.31078 5 12 5C16.6892 5 20.1779 9.12944 21.544 11.045Z"
                stroke="#141B34"
                stroke-width="1.5"
              />
              <path
                d="M15 12C15 10.3431 13.6569 9 12 9C10.3431 9 9 10.3431 9 12C9 13.6569 10.3431 15 12 15C13.6569 15 15 13.6569 15 12Z"
                stroke="#141B34"
                stroke-width="1.5"
              />
            </svg>

            <ng-template #closedEye>
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M22 8C22 8 18 14 12 14C6 14 2 8 2 8"
                  stroke="#141B34"
                  stroke-width="1.5"
                  stroke-linecap="round"
                />
                <path
                  d="M15 13.5L16.5 16"
                  stroke="#141B34"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M20 11L22 13"
                  stroke="#141B34"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M2 13L4 11"
                  stroke="#141B34"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M9 13.5L7.5 16"
                  stroke="#141B34"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </ng-template>
          </span>
        </div>
      </div>

      <div class="input">
        <label for="address">Confirm New Password</label>
        <div class="password">
          <input
            placeholder="Confirm New Password"
            type="password"
            required
            class="password-input"
            formControlName="confirmPassword"
          />
        </div>
      </div>

      <div class="confirm_buttons">
        <button (click)="changePassword()">change password</button>
      </div>
    </form>
  </div>
</article>
