<div class="categories">
  <article class="category" *ngFor="let category of categories">
    <a [href]="category.id" [routerLink]="['/categories', category.id]">
      <!-- <img [src]="'http://localhost:5500/img/products/800x800_' + category.imageCover" alt="" />  -->

      <div class="category_content">
        <h2>{{ category.name }}</h2>
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M9.00005 6C9.00005 6 15 10.4189 15 12C15 13.5812 9 18 9 18"
            stroke="#141B34"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
    </a>
  </article>
</div>
