<div class="wrapper">
  <div class="template">
    <div class="summary_top">
      <h2>Cart Summary</h2>
    </div>
    <div class="summary">
      <div class="orders">
        <p>Orders</p>
        <span>{{cartItems()?.length}} items</span>
      </div>

      <div class="sub_total">
        <p>Subtotal</p>
        <span>{{ cartTotal() | currency }}</span>
      </div>

      <button>checkout</button>
    </div>

    <!-- <select [ngModel]="quantity()" (change)="onQuantitySelected($any($event.target).value)">
    <option disabled>select a quantity</option>
    <option *ngFor="let q of qtyAvaliable()">{{q}}</option>
    </select> -->
  </div>
</div>
