.wrapped-heading {
  font-size: 19px;
  font-weight: 600;
  color: var(--dark-grey);
}

.accout {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.avatar {
  background: var(--green-color);
  border-radius: 50%;
  height: 6rem;
  width: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: 900;
  color: white;
}

form {
  padding: 2rem 0;
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  width: 80%;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.input label {
  font-size: 15px;
  font-weight: 600;
  color: var(--dark-grey);
}

.input input {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  padding: 0px 11px;
  font-size: 17px;
  text-transform: capitalize;
  transition: all 0.4s ease-in-out;
}

.input-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.email-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: 1px solid var(--border-color);
  padding: 12px 13px;
  border-radius: 5px;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s ease;
}

.email-box:hover {
  border: 1px solid var(--green-color);
}

.mailpassbox {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  width: 80%;
}

.content {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.emailpass span {
  display: flex;
  align-items: center;
  gap: 5px;
}

.usermail {
  font-size: 17px;
  font-weight: 600;
}

svg path {
  stroke: var(--green-color);
}

.veridate p {
  text-transform: capitalize;
  font-size: 14px;
}

.veridate svg {
  height: 16px;
  width: 16px;
}

.change-password {
  font-weight: 600;
  color: var(--green-color);
  transition: all 0.4s ease;
}

.change-password:hover {
  text-decoration: underline;
  color: var(--green-color);
}

.Btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: var(--error);
}

/* plus sign */
.sign {
  width: 100%;
  transition-duration: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 17px;
}

.sign svg path {
  fill: var(--light-grey);
}
/* text */
.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: var(--light-grey);
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: 0.3s;
}
/* hover effect on button width */
.Btn:hover {
  width: 125px;
  border-radius: 5px;
  transition-duration: 0.3s;
}

.Btn:hover .sign {
  width: 30%;
  transition-duration: 0.3s;
  padding-left: 10px;
}
/* hover effect button's text */
.Btn:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: 0.3s;
  padding-right: 10px;
}
/* button click effect*/
.Btn:active {
  transform: translate(2px, 2px);
}
