.container {
  display: flex;
  gap: 3rem;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}

.cart-summary {
  align-self: flex-start;
}


@media screen and (max-width: 480px) {
 .container {
  flex-direction: column;
  gap: 0;
  padding: 0;
      padding-bottom: 4rem;
} 
}