<div class="nav__box">
  <div class="desktop_nav">
    <div class="img_box">
      <img src="/assets/img/logo.png" alt="logo" />
    </div>

    <ul>
      <li [routerLink]="'/home'" routerLinkActive="desktop_nav--active">
        <a href="/home">
          <div class="nav__item">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M10 18L14 18"
                stroke="#141B34"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M2.35139 13.2135C1.99837 10.9162 1.82186 9.76763 2.25617 8.74938C2.69047 7.73112 3.65403 7.03443 5.58114 5.64106L7.02099 4.6C9.41829 2.86667 10.6169 2 12 2C13.3831 2 14.5817 2.86667 16.979 4.6L18.4189 5.64106C20.346 7.03443 21.3095 7.73112 21.7438 8.74938C22.1781 9.76763 22.0016 10.9162 21.6486 13.2135L21.3476 15.1724C20.8471 18.4289 20.5969 20.0572 19.429 21.0286C18.2611 22 16.5537 22 13.1388 22H10.8612C7.44633 22 5.73891 22 4.571 21.0286C3.40309 20.0572 3.15287 18.4289 2.65243 15.1724L2.35139 13.2135Z"
                stroke="#141B34"
                stroke-width="1.5"
                stroke-linejoin="round"
              />
            </svg>
            <p class="nav__text">Home</p>
          </div>
        </a>
      </li>

      <li [routerLink]="'/categories'" routerLinkActive="desktop_nav--active">
        <a href="/categories">
          <div class="nav__item">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle
                cx="17.75"
                cy="6.25"
                r="4.25"
                stroke="#141B34"
                stroke-width="1.5"
              />
              <circle
                cx="6.25"
                cy="6.25"
                r="4.25"
                stroke="#141B34"
                stroke-width="1.5"
              />
              <circle
                cx="17.75"
                cy="17.75"
                r="4.25"
                stroke="#141B34"
                stroke-width="1.5"
              />
              <circle
                cx="6.25"
                cy="17.75"
                r="4.25"
                stroke="#141B34"
                stroke-width="1.5"
              />
            </svg>

            <p class="nav__text">Category</p>
          </div>
        </a>
      </li>

      <li [routerLink]="'/wishlist'" routerLinkActive="desktop_nav--active">
        <a href="/wishlist">
          <div class="nav__item">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M19.4626 3.99415C16.7809 2.34923 14.4404 3.01211 13.0344 4.06801C12.4578 4.50096 12.1696 4.71743 12 4.71743C11.8304 4.71743 11.5422 4.50096 10.9656 4.06801C9.55962 3.01211 7.21909 2.34923 4.53744 3.99415C1.01807 6.15294 0.221721 13.2749 8.33953 19.2834C9.88572 20.4278 10.6588 21 12 21C13.3412 21 14.1143 20.4278 15.6605 19.2834C23.7783 13.2749 22.9819 6.15294 19.4626 3.99415Z"
                stroke="#141B34"
                stroke-width="1.5"
                stroke-linecap="round"
              />
            </svg>

            <p class="nav__text">Wishlist</p>
          </div>
        </a>
      </li>

      <li [routerLink]="'/cart'" routerLinkActive="desktop_nav--active">
        <a href="/cart">
          <div class="nav__item">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M11.5 8H20.196C20.8208 8 21.1332 8 21.3619 8.10084C22.3736 8.5469 21.9213 9.67075 21.7511 10.4784C21.7205 10.6235 21.621 10.747 21.4816 10.8132C20.9033 11.0876 20.4982 11.6081 20.3919 12.2134L19.7993 15.5878C19.5386 17.0725 19.4495 19.1943 18.1484 20.2402C17.1938 21 15.8184 21 13.0675 21H10.9325C8.18162 21 6.8062 21 5.8516 20.2402C4.55052 19.1942 4.46138 17.0725 4.20066 15.5878L3.60807 12.2134C3.50177 11.6081 3.09673 11.0876 2.51841 10.8132C2.37896 10.747 2.27952 10.6235 2.24894 10.4784C2.07874 9.67075 1.6264 8.5469 2.63812 8.10084C2.86684 8 3.17922 8 3.80397 8H7.5"
                stroke="#141B34"
                stroke-width="1.5"
                stroke-linecap="round"
              />
              <path
                d="M14 12L10 12"
                stroke="#141B34"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M6.5 11L10 3M15 3L17.5 8"
                stroke="#141B34"
                stroke-width="1.5"
                stroke-linecap="round"
              />
            </svg>

            <p class="nav__text">Cart</p>
          </div>
        </a>
      </li>

      <li [routerLink]="'/profile'" routerLinkActive="desktop_nav--active">
        <a href="/profile">
          <div class="nav__item">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M6.57757 15.4816C5.1628 16.324 1.45336 18.0441 3.71266 20.1966C4.81631 21.248 6.04549 22 7.59087 22H16.4091C17.9545 22 19.1837 21.248 20.2873 20.1966C22.5466 18.0441 18.8372 16.324 17.4224 15.4816C14.1048 13.5061 9.89519 13.5061 6.57757 15.4816Z"
                stroke="#141B34"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M16.5 6.5C16.5 8.98528 14.4853 11 12 11C9.51472 11 7.5 8.98528 7.5 6.5C7.5 4.01472 9.51472 2 12 2C14.4853 2 16.5 4.01472 16.5 6.5Z"
                stroke="#141B34"
                stroke-width="1.5"
              />
            </svg>

            <p class="nav__text">Profile</p>
          </div>
        </a>
      </li>

      <li class="more">
        <a href="">
          <div class="nav__item">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M4 5L20 5"
                stroke="#141B34"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M4 12L20 12"
                stroke="#141B34"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M4 19L20 19"
                stroke="#141B34"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>

            <p class="nav__text">More</p>
          </div>
        </a>
      </li>
    </ul>
  </div>

  <div class="user">
    <div class="user_avatar">
      <span>S</span>
    </div>
    <div class="user_details">
      <p class="user_name">Saint x.</p>
      <p class="user_mail">jypuzutij@mailinator...</p>
    </div>
  </div>
</div>
