@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
  --background: #fcfcfc;
  --border-color: #e5e7eb;
  --green-color: #728e72;
  --black: #000;
  --white: #fff;
  --red: #a70d0d;
  --error: rgb(157, 12, 12);
  --active-color: #b5d3b5;
  --grey: #71717a;
  --dark-grey: #52525b;
  --light-grey: #e4e4e7;
  --grey-grey: #eceef2;
}

html,
body {
  background-color: var(--background);
  font-family: "Lato";
  overflow: hidden;
}

p,
h3 {
  margin: 0;
}

button {
  font-family: "Lato";
  cursor: pointer;
}

button:disabled:hover {
  cursor: not-allowed;
}

button:disabled {
  background: var(--dark-grey) !important;
}

.new-nav {
  position: sticky;
  top: 0;
  z-index: 2;
}

.error-border {
  border: 1px solid var(--error) !important;
  color: var(--error);
}

.error-span {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 9px 0;
}

.error-span svg {
  padding: 0 !important;
}

.error-span svg path,
.error-span svg circle {
  stroke: var(--error);
}

.error-message {
  display: flex;
  align-items: center;
  color: var(--error);
  font-size: 17px;
  gap: 5px;
  width: max-content;
}

::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}

::-webkit-scrollbar-track {
  background-color: #d4d0d0;
  margin-block: 0.25em;
  border-radius: 0.3em;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 0.3em;
}

::selection {
  background-color: #000;
  color: #fff;
}

@keyframes skeleton-loading {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

@-webkit-keyframes skeleton-loading {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.page_title {
  font-size: 2rem;
  font-weight: 600;
  font-style: normal;
  text-align: left;
}

svg path {
  stroke: var(--black);
}
